/* #region Color Themes */
/* Default Colors */
:root {
  --bg-color: hsl(0, 0%, 18%);
  --bg-color-2: hsl(0, 0%, 25%);
  --bg-color-3: hsl(0, 0%, 43%);
  --text-color: hsl(72, 48%, 94%);
  --highlight-color: hsl(39, 100%, 50%);
  --pri-1-color: hsl(96, 100%, 50%);
  --pri-2-color: hsl(54, 100%, 50%);
  --pri-3-color: hsl(0, 100%, 50%);
}

/* #endregion  */

/* #region Global Variables */
:root {
  --task-element-height: 80px;
  --task-grid-gap: 10px;
}
/* #endregion */

/* #region Global Rules */
* {
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}

p {
  margin: 0;
}

a {
  color: var(--highlight-color);
}

.div-btn {
  border: 1px dashed black;
}
/* #endregion */

/* #region Body */
body {
  background-color: var(--bg-color);

  height: 100vh;
  width: 100vw;
}
/* #endregion */

/* #region Main Grid */
.main-grid {
  display: grid;
  grid-template: repeat(10, 10%) / repeat(10, 10%);

  height: 100%;
  width: 100%;
}

/* #endregion */

/* #region Header */
.header {
  grid-row: 1;
  grid-column: -1/1;

  display: grid;
  grid-template: 1fr / 1fr repeat(6, 16%) 1fr;
  grid-template-areas: ". title title title . new-task-btn menu-btn .";

  background-color: var(--bg-color-3);
}

.header-title {
  grid-area: title;

  font-size: 2rem;
  align-self: center;

  color: var(--highlight-color);

  text-shadow: 1px 1px 5px rgb(46, 46, 46);
}

.header .new-task-btn {
  grid-area: new-task-btn;
}

.header .menu-btn {
  grid-area: menu-btn;
}

/* #endregion */

/* #region Content */
.content {
  grid-row: 2 / 10;
  grid-column: -1 / 1;

  display: grid;
  grid-template: var(--task-grid-gap) auto var(--task-grid-gap) / 1fr;
  grid-template-areas:
    "."
    "tasks"
    ".";
}

.content .tasks {
  grid-area: tasks;

  display: grid;
  grid-template-columns: 3vw 1fr 3vw;
  grid-auto-flow: row;
  grid-auto-rows: var(--task-element-height);
  row-gap: var(--task-grid-gap);

  overflow-y: scroll;
}

.content .task {
  grid-column: 2;

  display: grid;
  align-items: center;

  height: 100%;
}

.content .task-outline {
  display: grid;
  justify-items: start;
  height: 100%;
}

.content .task-outline.priority-1 {
  background-color: var(--pri-1-color);
}

.content .task-outline.priority-2 {
  background-color: var(--pri-2-color);
}

.content .task-outline.priority-3 {
  background-color: var(--pri-3-color);
}

.content .task-contents {
  display: grid;
  grid-template: 66% 34% / repeat(6, 1fr);
  grid-template-areas:
    "name name name . details subtasks"
    "project project project . details subtasks";

  width: 95%;

  background-color: var(--bg-color-3);
}

.content .task-name {
  grid-area: name;
}

.content .task-project {
  grid-area: project;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content .task-contents .details-btn {
  grid-area: details;
}

.content .task-contents .subtasks-btn {
  grid-area: subtasks;
}
/* #endregion  */

/* #region Footer */
.footer {
  grid-row: 10;
  grid-column: -1 / 1;
  align-self: end;

  display: grid;
  align-items: center;
  justify-items: center;

  height: 100%;

  background-color: var(--bg-color-3);
}

.footer .footer-author {
  font-size: 0.8rem;
}

/* #endregion  */

/* #region Menu */
.menu {
  grid-row: 2 / -1;
  grid-column: 4 / -1;

  background-color: var(--bg-color-2);
}

/* #endregion  */

/* #region Task Details */
.task-details {
  grid-row: -1 / 1;
  grid-column: -1 / 1;

  background-color: var(--bg-color-2);
}
/* #endregion  */

/* #region Subtask Display */
.subtasks-display {
  grid-row: -1 / 1;
  grid-column: -1 / 1;

  background-color: var(--bg-color-2);
}

/* #endregion  */

/* #region Rules for Showing/Hiding Content */
.hide {
  display: none;
}

/* #endregion Subtask Details */
