/* #region Color Themes */
/* Default Colors */
:root {
  --bg-color: hsl(230, 15%, 95%);
  --elem-bg-color: hsl(230, 15%, 85%);
  --text-color: hsl(0, 0%, 20%);
  --highlight-color: hsl(30, 100%, 50%);
  --alt-elem-bg-color: hsl(230, 15%, 90%);
}

/* #endregion  */

/* #region Global Variables */

/* #endregion */

/* #region Global Rules */
* {
  color: var(--text-color);
}
/* #endregion */

/* #region Body */
body {
  background-color: var(--bg-color);
}
/* #endregion */

/* #region Main Grid */
.main-grid {
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
}

/* #endregion */

/* #region Header */
.header {
  grid-row: 1;
  grid-column: -1/1;
}
/* #endregion */

/* #region Content */
.content {
  grid-row: 2 / 9;
  grid-column: -1 / 1;
}
/* #endregion  */

/* #region Footer */

/* #endregion  */

/* #region Menu */

/* #endregion  */

/* #region Task Details */

/* #endregion  */

/* #region Content */

/* #endregion Subtask Details */

/* #region Rules for Showing/Hiding Content */
.hide {
  display: none;
}

/* #endregion Subtask Details */
