/* #region Color Themes */
/* Default Colors */
:root {
  --bg-color: hsl(0, 0%, 18%);
  --bg-color-2: hsl(0, 0%, 25%);
  --bg-color-3: hsl(0, 0%, 43%);
  --text-color: hsl(72, 48%, 94%);
  --highlight-color: hsl(39, 100%, 50%);
  --pri-1-color: hsl(96, 100%, 50%);
  --pri-2-color: hsl(54, 100%, 50%);
  --pri-3-color: hsl(0, 100%, 50%);
}

/* #endregion  */

/* #region Global Variables */
:root {
  --task-element-height: 80px;
  --task-grid-gap: 10px;
  --task-border-radius: 7px;
  --task-text-shadow: 1px 1px var(--bg-color);

  --menu-font-size: 1.4rem;
  --menu-text-shadow: 1px 1px var(--bg-color);
  --format-btns-border-width: 2px;
}
/* #endregion */

/* #region Global Rules */
* {
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}

p {
  margin: 0;
}

a {
  color: var(--highlight-color);
}

input[type="text"] {
  border: none;
  background-color: transparent;
  outline: none;
}

input[type="text"]:focus {
  font-style: italic;
}

.div-btn {
  display: grid;
  align-items: center;
  justify-items: center;
}

/* #endregion */

/* #region Body */
body {
  background-color: var(--bg-color);

  height: 100vh;
  width: 100vw;
}
/* #endregion */

/* #region Main Grid */
.main-grid {
  display: grid;
  grid-template: repeat(10, 10%) / repeat(10, 10%);

  height: 100%;
  width: 100%;
}

/* #endregion */

/* #region Header */
.header {
  grid-row: 1;
  grid-column: -1/1;

  display: grid;
  grid-template: 1fr / 1fr repeat(6, 16%) 1fr;
  grid-template-areas: ". title title title . new-task-btn menu-btn .";
  align-items: center;
  justify-items: center;

  background-color: var(--bg-color-3);
  box-shadow: -3px 3px 2px var(--bg-color-3), 3px 3px 2px var(--bg-color-3);

  z-index: 1;
}

.header-title {
  grid-area: title;

  font-size: 2rem;
  font-weight: bold;
  justify-self: start;

  color: var(--highlight-color);

  text-shadow: 1px 1px 5px rgb(46, 46, 46);
}

.header .div-btn {
  background-color: var(--bg-color-2);
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px var(--bg-color);
  height: 75%;
  width: 90%;
}

.header .icon {
  fill: var(--highlight-color);
}

.header .div-btn:active .icon {
  fill: var(--bg-color);
}

.header .new-task-btn {
  grid-area: new-task-btn;
}

.header .menu-btn {
  grid-area: menu-btn;
}

/* #endregion */

/* #region Content */
.content {
  grid-row: 2 / 10;
  grid-column: -1 / 1;

  display: grid;
  grid-template: 10% auto var(--task-grid-gap) / 1fr;
  grid-template-areas:
    "task-view"
    "tasks"
    ".";
}

.content .task-view-display {
  grid-area: task-view;
  align-self: center;
  justify-self: center;

  display: grid;
  grid-template: 1fr / 3vw 1fr 1fr 1fr 3vw;
  grid-template-areas: ". project filter format .";
  align-items: center;
  align-items: center;

  height: 100%;
  width: 100%;
}

.content .task-view-container {
  height: 75%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--bg-color-2);
}

.content .active-project-container {
  grid-area: project;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.content .active-filter-container {
  grid-area: filter;
}

.content .active-format-container {
  grid-area: format;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.content .task-view-display p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-weight: 600;
  text-shadow: var(--task-text-shadow);
}

.content .tasks {
  grid-area: tasks;

  display: grid;
  grid-template-columns: 3vw 1fr 3vw;
  grid-auto-flow: row;
  grid-auto-rows: var(--task-element-height);
  row-gap: var(--task-grid-gap);

  overflow-y: scroll;
}

.content .task {
  grid-column: 2;

  display: grid;
  align-items: center;

  height: 100%;
}

.content .task-outline {
  display: grid;
  justify-items: end;
  height: 100%;

  border-radius: var(--task-border-radius);
}

.content .task-outline.priority-1 {
  background-color: var(--pri-1-color);
}

.content .task-outline.priority-2 {
  background-color: var(--pri-2-color);
}

.content .task-outline.priority-3 {
  background-color: var(--pri-3-color);
}

.content .task-contents {
  display: grid;
  grid-template: 50% 50% / 5px repeat(6, 1fr) 5px;
  grid-template-areas:
    ". name name name name subtasks details ."
    ". project project project project subtasks details .";
  align-items: center;

  width: calc(100% - 5px);
  height: calc(100% - 2px);

  background-color: var(--bg-color-3);

  border-top-right-radius: var(--task-border-radius);
  border-bottom-right-radius: var(--task-border-radius);
  border-bottom-left-radius: var(--task-border-radius);
}

.content .task-name {
  grid-area: name;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-size: 1.15rem;
  font-weight: bold;
  text-shadow: var(--task-text-shadow);
}

.content .task-project {
  grid-area: project;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  align-self: start;

  font-style: italic;
  text-shadow: var(--task-text-shadow);
}

.content .div-btn {
  background-color: var(--bg-color-2);
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px var(--bg-color);
  height: 70%;
  width: 90%;
}

.content .icon {
  fill: var(--text-color);
}

.content .div-btn:active .icon {
  fill: var(--highlight-color);
}

.content .icon svg {
  height: 34px;
}

.content .task-contents .details-btn {
  grid-area: details;
}

.content .task-contents .subtasks-btn {
  grid-area: subtasks;
}
/* #endregion  */

/* #region Footer */
.footer {
  grid-row: 10;
  grid-column: -1 / 1;
  align-self: end;

  display: grid;
  align-items: center;
  justify-items: center;

  height: 100%;

  background-color: var(--bg-color-3);
}

.footer .footer-author {
  font-size: 0.8rem;
}

/* #endregion  */

/* #region Menu */
.menu {
  grid-row: 2 / -1;
  grid-column: 4 / -1;

  display: grid;
  grid-template: 60% 10% 25% / 1fr;
  grid-template-areas:
    "projects"
    "new-project"
    "format-btns";

  background-color: var(--bg-color-2);
}

.menu .projects {
  grid-area: projects;
  display: grid;
  grid-auto-rows: 18%;

  overflow-y: scroll;
}

.menu .project {
  display: grid;
  grid-template: 1fr / 5% 1fr 1fr 1fr 1fr 5%;
  grid-template-areas: ". project project project label .";
  align-items: center;

  height: 100%;
}

.menu .project-text {
  grid-area: project;

  font-size: 1.4rem;
  font-weight: bold;
  text-shadow: var(--menu-text-shadow);
}

.menu .project-text.highlight {
  color: var(--highlight-color);
}

.menu .project-input {
  grid-area: project;

  font-size: 1.4rem;
  font-weight: bold;
  text-shadow: var(--menu-text-shadow);
}

.menu .project-label-container {
  grid-area: label;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--bg-color);
  height: 75%;
  border-radius: 10px;
  border: 1px solid var(--bg-color-3);
}

.menu .project-input-label {
  font-size: var(--menu-font-size);
  color: var(--highlight-color);
}

.menu .new-project-div {
  grid-area: new-project;
  display: grid;
  align-self: center;
  justify-self: center;

  background-color: var(--bg-color-3);
  height: 100%;
  width: 80%;
  border-radius: 10px;
  border: 1px solid var(--bg-color);
}

.menu .new-project-span-btn {
  align-self: center;
  justify-self: center;

  font-size: var(--menu-font-size);
  font-weight: bold;
  color: var(--text-color);
  text-shadow: var(--menu-text-shadow);
}

.menu .format-btns {
  grid-area: format-btns;
  align-self: center;
  justify-self: center;
  display: grid;
  grid-template: 50% 50% / 50% 50%;
  grid-template-areas:
    "week month"
    "priority date";

  height: 90%;
  width: 90%;
}

.menu .div-btn {
  border: var(--format-btns-border-width) solid var(--bg-color-3);
}

.menu .week-filter-btn {
  grid-area: week;
  border-top-width: calc(var(--format-btns-border-width) * 2);
  border-left-width: calc(var(--format-btns-border-width) * 2);
}

.menu .month-filter-btn {
  grid-area: month;
  border-top-width: calc(var(--format-btns-border-width) * 2);
  border-right-width: calc(var(--format-btns-border-width) * 2);
}

.menu .div-btn.on {
  border-color: var(--highlight-color);
}

.menu .div-btn.on p {
  color: var(--highlight-color);
}

.menu .priority-sort-btn {
  grid-area: priority;
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr;
  grid-template-areas:
    "low"
    "med"
    "high";
  align-items: center;

  border-bottom-width: calc(var(--format-btns-border-width) * 2);
  border-left-width: calc(var(--format-btns-border-width) * 2);
}

.menu .priority-sort-btn.descending {
  grid-template-areas:
    "high"
    "med"
    "low";
}

.menu .priority-sort-btn-color-div {
  height: 60%;
  width: 90%;
}

.menu .priority-sort-btn .color-1 {
  grid-area: low;
  background-color: var(--pri-1-color);
}

.menu .priority-sort-btn .color-2 {
  grid-area: med;
  background-color: var(--pri-2-color);
}

.menu .priority-sort-btn .color-3 {
  grid-area: high;
  background-color: var(--pri-3-color);
}

.menu .date-sort-btn {
  grid-area: date;
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr;
  grid-template-areas:
    "first"
    "second"
    "third";

  border-bottom-width: calc(var(--format-btns-border-width) * 2);
  border-right-width: calc(var(--format-btns-border-width) * 2);
}

.menu .date-sort-btn.descending {
  grid-template-areas:
    "third"
    "second"
    "first";
}

.menu .date-sort-btn-div {
  display: grid;
  align-items: center;
  justify-items: center;

  background-color: var(--bg-color-3);
  height: 70%;
  width: 90%;
}

.menu .date-sort-btn-div p {
  font-size: 0.66rem;
}

.menu .date-1 {
  grid-area: first;
}

.menu .date-2 {
  grid-area: second;
}

.menu .date-3 {
  grid-area: third;
}

/* #endregion  */

/* #region Task Details */
.task-details {
  grid-row: -1 / 1;
  grid-column: -1 / 1;

  display: grid;
  grid-template: 10% 10% 9% 5% 23% 1fr / 10px repeat(6, 1fr) 10px;
  grid-template-areas:
    ". name-input name-input name-input name-input . close ."
    ". date-label date-input date-input date-input . date-btn ."
    ". priority priority priority priority priority priority ."
    ". notes-label notes-label notes-label notes-label notes-label notes-label ."
    ". notes-textarea notes-textarea notes-textarea notes-textarea notes-textarea notes-textarea .";

  background-color: var(--bg-color-2);
}

.task-details label {
  align-self: center;

  font-size: 1.15rem;
  color: var(--highlight-color);
}

.task-details .task-name-label {
  display: none;
}

.task-details .date-btn,
.task-details .close-btn {
  background-color: var(--bg-color-3);
  box-shadow: 1px 1px 1px 1px var(--bg-color);
  border-radius: 10px;
  height: 90%;
  align-self: center;
}

.task-details .date-btn .icon,
.task-details .close-btn .icon {
  fill: var(--text-color);
}

.task-details .date-btn:active .icon,
.task-details .close-btn:active .icon {
  fill: var(--highlight-color);
}

.task-details .date-btn {
  grid-area: date-btn;
}

.task-details .close-btn {
  grid-area: close;
}

.task-details .task-name-input {
  grid-area: name-input;
  font-size: 1.4rem;
  color: var(--highlight-color);
}

.task-details .due-date-label {
  grid-area: date-label;
}

.task-details .due-date-input {
  grid-area: date-input;
  align-self: center;

  height: 80%;

  font-size: 1.4rem;
  color: var(--text-color);
  background-color: transparent;
  border: none;
}

.task-details .priority-btns {
  grid-area: priority;

  display: grid;
  grid-template: 1fr / 0.5% 33% 33% 33% 0.5%;
  grid-template-areas: ". low med high .";
  align-items: center;
}

.task-details .priority-btn {
  display: grid;
  justify-items: center;
  align-items: center;

  box-shadow: 1px 1px 1px 1px var(--bg-color);

  height: 80%;
  width: 93%;

  border-radius: 10px;
}

.task-details .priority-btn.inactive {
  filter: brightness(50%);
}

.task-details .priority-btn p {
  color: black;
}

.task-details .priority-btns .low-btn {
  grid-area: low;
  justify-self: start;

  background-color: var(--pri-1-color);
}

.task-details .priority-btns .medium-btn {
  grid-area: med;
  justify-self: center;

  background-color: var(--pri-2-color);
}

.task-details .priority-btns .high-btn {
  grid-area: high;
  justify-self: end;

  background-color: var(--pri-3-color);
}

.task-details .task-notes-label {
  grid-area: notes-label;
}

.task-details .task-notes-textarea {
  grid-area: notes-textarea;

  resize: none;

  background-color: var(--bg-color-2);
  border-radius: 10px;

  color: var(--text-color);
}

.task-details .task-notes-textarea:focus {
  grid-area: notes-textarea;

  resize: none;

  background-color: var(--text-color);
  border: none;
  color: var(--bg-color-2);
}

/* #endregion  */

/* #region Subtask Display */
.subtasks-display {
  grid-row: -1 / 1;
  grid-column: -1 / 1;

  background-color: var(--bg-color-2);
}

/* #endregion  */

/* #region Rules for Showing/Hiding Content */
.hide {
  display: none;
}

/* #endregion Subtask Details */
